.action {
    width: 100%;
    background-color: @color-main;
    background-color: black;
    color: @color-fourth;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    &__wrapper {
        position: relative;
        box-sizing: border-box;
        max-width: 500px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 40px 20px;
        padding-top: 80px;
        padding-bottom: 100px;
        display: grid;
        grid-template-rows: 15% 40px 1fr 5% 35%;
    }

    &__arrow {
        rotate: -90deg;
        display: block;

        &-wrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: @color-fourth;

            &-content {
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }
        }
    }

    &__name-product {
        margin: 0;
        font-size: 20px;
        line-height: normal;
        padding: 6px 40px;
        background-color: @color-fourth;
        color: black;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        display: block;
        width: 230px;
        margin: 0;
        font-size: 40px;
        line-height: normal;
        text-align: center;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--second {
            color: @color-third;
        }
    }

    &__text-data {
        margin: 0;
        font-size: 14px;
        line-height: normal;
        font-weight: 700;
        color: @color-third;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__link {
        color: @color-fourth;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0;
        font-size: 18px;
        line-height: normal;

        &-wrapper {
            width: 120px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid @color-fourth;
            text-decoration: none;

            &:active {
                background-color: @color-fourth;
            }

            &:active .action__link {
                color: black;
            }

            &-content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

// Рендеринг по высоте
@media (max-width: 768px) {
    @media (min-height: 800px) {
        .action {
            &__arrow-wrapper {
                width: 55px;
                height: 55px;
            }

            &__name-product {
                padding: 8px 50px;
                font-size: 24px;
            }

            &__title {
                font-size: 50px;
                width: 280px;
            }

            &__text-data {
                font-size: 18px;
            }

            &__link {
                font-size: 24px;

                &-wrapper {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
}