.info {
    width: 100%; 

    &__wrapper {
        position: relative;
        box-sizing: border-box;
        max-width: 500px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 40px 20px;
        padding-top: 80px;
    }
}