.offer {
    width: 100%;
    background-image: url(../img/content-photo/content-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;

    &__wrapper {
        position: relative;
        box-sizing: border-box;
        max-width: 500px;
        min-height: 100vh;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 45%;
        padding: 40px 20px;
        padding-bottom: 60px;
        padding-top: 80px;

        &-text {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 20px;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__title {
        margin: 0;
        font-size: 30px;
        line-height: normal;
        margin-bottom: 20px;
    }

    &__text {
        margin: 0;
        font-size: 16px;
        line-height: normal;

        &-wrapper--more {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: black;
            padding: 10px 0;
            cursor: pointer;
        }

        &--more {
            position: relative;
            margin: 0;
            font-size: 16px;
            line-height: normal;
            margin-right: 10px;
        }

        &--icon {
            rotate: 90deg;
        }
    }
}

@media (max-width: 758px) {
    @media (min-height: 840px) {
        .offer {
            &__title {
                font-size: 36px;
                margin-bottom: 0;
            }

            &__text {
                font-size: 20px;

                &--more {
                    font-size: 20px;
                }
            }   
        }
    }
}