.review {
    width: 100%;

    &__wrapper {
        position: relative;
        box-sizing: border-box;
        max-width: 500px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 40px 20px;
        padding-top: 80px;
        display: grid;
        grid-template-rows: 12% 1fr 24%;
    }

    &__title {
        font-size: 30px;
        line-height: normal;
        margin: 0;
        color: @color-third;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__sub-title {
        font-size: 20px;
        line-height: normal;
        margin: 0;
        text-align: center;
        background-color: black;
        color: white;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__item {
        position: relative;

        &-link {
            display: block;
            text-decoration: none;
        }

        &-img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            min-height: 175px;
        }

        &-interactive {
            position: absolute;
            text-align: center;
            color: black;
            background-color: rgba(255, 255, 255, 0.7);
            font-size: 20px;
            line-height: 20px;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            z-index: 2;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__text {
        margin: 0;
        font-size: 18px;
        line-height: normal;

        &-wrapper {
            display: flex;
            align-items: center;
        }
    }
}

// Рендеринг по высоте
@media (max-width: 768px) {
    @media (min-height: 840px) {
        .review {
            &__wrapper {
                grid-template-rows: 12% 1fr 39%;
            }

            &__title {
                font-size: 36px;
            }

            &__text {
                font-size: 24px;
            }
        }
    }
}