.review {
    width: 100%;

    &__wrapper {
        position: relative;
        box-sizing: border-box;
        max-width: 500px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__title {
        font-size: 28px;
        line-height: normal;
        margin: 0;
        padding-bottom: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    &__sub-title {
        font-size: 20px;
        line-height: normal;
        margin: 0;
        text-align: center;
        background-color: black;
        color: white;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 40px;
    }

    &__item {
        // position: relative;

        &-img {
            display: block;
            width: 100%;
            height: auto;
        }

        // &::before {
        //     position: absolute;
        //     content: '';
        //     color: @color-fourth;
        //     background-color: black;
        //     font-size: 16px;
        //     line-height: 16px;
        //     width: 100%;
        //     height: 20px;
        //     bottom: 0;
        //     left: 0;
        // }
    }

    &__text {
        margin: 0;
        font-size: 16px;
        line-height: normal;
    }
}